.color-body{
  height: 100vh;
  background-color: #f8f8f8;
  
}

.font {
  font-family: "Almarai", sans-serif;
}

.btn-color{
  background-color: #0167a7;
}

.btn-color:hover{
  background-color: #FFF;
  color: #0167a7;
}

.not-found{
  color:white;
  background-color: rgb(255, 52, 52);
  border-radius: 8px;
  padding: 1rem;
}